---
permalink: "/assets/css/themes/default/modules/fonts.css"
---

{% include "./modules/fonts.css" %}
{# {% include "./modules/variables.css" %}
{% include "./modules/texts.css" %}
{% include "./modules/images.css" %}
{% include "./modules/tables.css" %} #}