{% extends "crossref/crossref-base.njk" %}
{% block bodyclass %}
    about
    crossref
{% endblock bodyclass %}
{% block content %}
    <main>
        {% set journalid = issn + "meta" %}
        {% set journalmeta = journals[journalid] %}
        {% set journalscrap = issn + "scrap" %}
        {% set scrapmeta = journals[journalscrap] %}
        <header>
            <div class="sticky">
                <h1>{{ title | safe }}</h1>
            </div>
        </header>
        {% if scrapmeta.aboutContent != "placeholder" %}
        <article>{{ scrapmeta.aboutContent | safe }}</article>
        {% else %}

        <article>
            {% include "./modules/crossref-placeholder-about.njk" %}
        </article>
        {% endif %}
    </main>
{% endblock content %}
