<link rel="stylesheet" href="/assets/css/themes/default/modules/reset.css">
<link rel="stylesheet" href="/assets/css/themes/default/modules/fonts.css">
<link rel="stylesheet"
      href="/assets/css/themes/default/modules/variables.css">
<link rel="stylesheet" href="/assets/css/themes/default/modules/layout.css">
<link rel="stylesheet" href="/assets/css/themes/default/modules/menu.css">
<link rel="stylesheet" href="/assets/css/themes/default/modules/singlepage.css">
<link rel="stylesheet" href="/assets/css/themes/default/modules/texts.css">
<link rel="stylesheet" href="/assets/css/themes/default/modules/images.css">
<link rel="stylesheet" href="/assets/css/themes/default/modules/tables.css">
<link rel="stylesheet" href="/assets/css/themes/default/modules/custom.css">
<link rel="stylesheet" href="/assets/css/themes/default/modules/article.css">
<link rel="stylesheet" href="/assets/css/themes/default/modules/crossref.css">
