{% extends "base.njk" %}
{% block content %}
    <main>
        <header>
            <h1>{{ title }}</h1>
            {% if baseline %}<p class="intro">{{ baseline }}</p>{% endif %}
        </header>
        <article>
            <ul class="about-submenu">
                {% for item in collections.aboutPages  %}
                    <li>
                        <img src="/assets/images/about/{{ item.data.metaimg }}" alt="">
                        <div class="text">
                            <h3>
{{ item.data.metatitle }}
                                {# <a href="#{{ item.data.metalinktext | slugify }}"></a> #}
                            </h3>
                            <p>{{ item.data.metaintro | safe }}</p>
                            <p>
                                <a href="#{{ item.data.metalinktext | slugify }}">{{ item.data.metalinktext }}</a>{{ item.title }}
                            </p>
                        </div>
                        <section id="{{ item.data.metalinktext | slugify }}" class="aboutblock">
                            <h2>{{ item.data.title }}</h2>
                            {% if item.data.baseline %}<p class="intro">{{ item.data.baseline }}</p>{% endif %}
                            {{ item.templateContent | markdownify | safe }}
                        </section>
                    </li>
                {% endfor %}
            </ul>
            {% for item in collections.aboutPages %}{% endfor %}
        </article>
    </main>
{% endblock content %}
