{% extends "base.njk" %}
{% block topbar %}
    {% include "./common/menu.njk" %}
{% endblock topbar %}

{% block content %}
    <main>
        <header>
            <h1>{{ title }}</h1>
            {% if intro %}<p class="intro">{{ intro }}</p>{% endif %}
        </header>
        <article>{{ content | safe }}</article>
    </main>
{% endblock content %}

{% block scripts %}
    {# add some scripts there #}
{% endblock scripts %}

{% block footer %}
    {% include "elife/modules/footer.njk" %}
{% endblock footer %}
