<menu class="article-menu-links">
    <li>
        <button onclick="showFullArticle(this)">Full text</button>
    </li>
    <li>
        <button onclick="showOnlyFigures(this)">Figures and data</button>
    </li>
    {# <li><button onclick="showMeta(this)">Metadata</button></li> #}
</menu>
