{# copyright #}
<section id="article-copyright" class="copyright">
    <h3>Copyright</h3>
    <p class="copyright-holder">© {{ article.copyright.holder }}</p>
    <p class="statement">{{ article.copyright.statement | safe }}</p>
</section>
